.input_label {
    color: #666;
    font-size: 16px;
    font-weight: 500;
}
.input_label_div::after {
    content: '';
    position: absolute;
    width: 20px;
    background: #f27b77;
    height: 2px;
    bottom: 0;
    left: 0;
    margin-left: 15px;
}
.input_label_div {
    border-bottom: 1px solid #dad1d1;
    margin-top: 1.6rem;
}
.input_text {
    border: none;
    border-radius: 0px;
}

.input_text:focus {
    border-color: #fff !important;
    border-bottom: 1px solid blue !important;
    box-shadow: none !important;
}
.input_text:hover {
    border-color: #fff !important;
    border-bottom: 1px solid blue !important;
    box-shadow: none !important;
}
.errorMsg {
    color: red;
    font-size: 13px;
}
.form-group {
    margin-bottom: 0rem !important;
}
.input_modal {
    border: none !important;
    border-bottom: 1px solid #000 !important;
    border-radius: 0px !important;
}
.input_modal:focus {
    border: none !important;
    border-bottom: 1px solid #000 !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}
.add_modal {
    border: none !important;
}
.toaster .toast {
    margin-top: 6.125rem !important;
}
.toast-header {
    height: 2.7rem !important;
}
.input_text_normal  {
    border: none !important;
    border-bottom: 1px solid #dad1d1 !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}
.cursor {
    cursor: pointer !important;
}
.css-yk16xz-control  {
    border: none !important;
    margin-top: -4px !important;
}
.userTableTh {
    border: none !important;
    background-color: #F9FAFC !important;
}
.table-responsive {
    overflow-Y : hidden !important;
}
.userListTable th {
    white-space: nowrap;
}
.userListTable td {
    white-space: nowrap;
}
.editDropdown {
    position:absolute !important;
    top:48px !important;
    left: 0px !important;
}
.justify-center {
    justify-content: center;
}